// Non-modular or client styles for .l-footer region.
footer {
	
	background: $footer-bg; 
	color: $footer-color;
	margin: 20px 0 0 0;
	padding: 35px 0;
	
	a {
		
		color: $footer-link-color;
		
		&:hover {
			color: $footer-link-hover;
			text-decoration: none;
		}
	}
	
}


@media only screen and (max-width : 768px) {

	footer {
		margin: 0;
		ul li {width: 100%;}  
		
	}   
}