#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:998;
}
.navbar {
	margin-bottom: 0;
}

.navbar-nav {
		
		@media only screen and (min-width : 768px) {

		> li {  padding: 25px 0 0 0; 
			
			

		}
		
		.dropdown-menu {
				
				border: 0;
				width: 100%;
			}
		
		
	}
	
    > li > a {
  
	 //line-height: 95px;
      &:hover,
      &:focus {
        
        border-radius: 5px;
        
        &.dropdown-toggle{
	        
	        border-radius: 5px 5px 0 0;
	       li {
		       padding: 10px 0;
	       }
        }
      }
    }
 }
 
 ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

ul.nav li.dropdown ul.dropdown-menu { 
  margin-top: 0;
}