.block-title {
	
	color: #666;
	font-weight: 200;
	padding: 0 0 25px;
	
	&:after {
		background-color: #999;
		content: "";
		display: block;
		height: 1px;
		position: relative;
		top: 12px;
		width: 50px;
	}
}

.catalogo {
	
	padding: 25px 0 0 0;
	
	
	
	ul li {
		
		a {
			
			 display: block;
			 overflow-x: hidden;
			 overflow-y: hidden;
		}
		
		img {
			height: auto;
			width: 100%;
			 transition-duration: 900ms;
			 transition-timing-function: ease-out;
			 max-width: 100%;
			&:hover{
				transform: scale(1.1, 1.1);
			}
			
		}
		
		h3 {
			
			background-color: $marron;
			color: #fff;
			font-size: 18px;
			padding: 13px 5px;
			
			a {
				color: #fff;
			}
		}
		
		.taxonomy-term {
			
			border: 1px solid #eee;
			border-radius: 5px;
			height: 100%;
			
			.field-name-title {
				
				
				text-align: center;
				
				a {
					font-weight: normal;
				}
				
			}
		}
		
		.taxonomy-term-description {
			
			color: #aaa;
			font-size: 10px;
			padding: 0 5px;
			
			p {
				font-size: 11px;
			}
		}
	}
}

.acordeon {
	
	a {
		color: #555;
		font-weight: normal;
		text-decoration: none;
		
	}
}

.social {
	
	
	padding: 10px 0 0 0;
}

.storelocator-panel .store-list li.highlighted, .storelocator-panel .store-list li.highlighted:hover{
		
		background: $marron;
		color: #fff;
		
	}

.magnify {
  
    #mlens_wrapper_0{
    img {
	    
	    @media(max-width:767px){
		   width: 100%;
	    }
		@media(min-width:768px){
			//width: 100% !important;
		}    	    
    }
    }
  
}

.catalogo-categoria {
	
	.dexp-portfolio-filter {
		
		li{
		
		background-color: $marron;
		padding: 10px 20px;
		margin: 10px 0;
		
			a {
				color: #fff;
				font-weight: 500;
			}
		}
	}

	.dexp-grid-items {
		
		img {
			height: auto;
			width: 100%;
			
		}
		
		h2 {
			
			background-color: $marron;
			color: #fff;
			font-size: 18px;
			padding: 13px 5px;
			text-align: center;
			
			&:hover {
				background-color: lighter($marron,50);
			}
			
			a {
				color: #fff;
				font-weight: normal;
				text-decoration: none;
				
				&:hover {
					
					color: darken(#fff,10);
				}
			}
		}
	}

}