.catalogo-categoria-delibrot {
	
	.dexp-portfolio-filter {
		
		li{
		
		background-color: $marron;
		padding: 10px 20px;
		margin: 10px 0;
		
			a {
				color: #fff;
				font-weight: 500;
			}
		}
	}

	.dexp-grid-items {
		
		img {
			height: auto;
			width: 100%;
			
		}
		
		h2 {
			
			background-color: $marron;
			color: #fff;
			font-size: 14px;
			padding: 13px 5px;
			text-align: center;
			
			&:hover {
				background-color: lighter($marron,50);
			}
			
			a {
				color: #fff;
				font-weight: normal;
				text-decoration: none;
				
				&:hover {
					
					color: darken(#fff,10);
				}
			}
		}
	}

}