.google-store-locator-map {

		
	height: 300px;
	width: 100%;
}

.google-store-locator-panel {
	height: 300px;
	width: 100%;
/*
  float: left;
  height: 300px;
  margin-right: 10px;
  width: 300px
;*/
}

/* Ensure image widths for responsive designs */
.google-store-locator-map img {
  max-width: none !important;
}

.storelocator-panel .feature-filter {
  overflow: visible;
}

.storelocator-panel .store-list {
  clear: both;
}
