.node-bebida {
	
	&.view-mode-full {
		
		color: $producto-texto;
		background-color: $pastel-bg; 
		background-image: url(../images/slider-pastel-demo.jpg);
		background-size: cover;

	}
	
}

#block-views-bebidas-block-1 {
	
	.block-title{
		
		background: #e9b87b;
		color: #fff;
		max-width: 320px;
		padding-left: 10px;
		padding-top: 10px;
		
	}
	
	.block-title::after{
		background-color: #fff;
	}
	
}