body.node-type-delibrot{
	
	background-color: $delibrot-bg;
	
	.content_top {
		background-color: $delibrot-bg;
	}
	
	.block-title { color: #fff;}
	
	.node-delibrot {
	
	&.view-mode-full {
		
		color: $producto-texto;
		background-color: $delibrot-bg; 
		background-image: url(../images/delibrot/el-globo-slider-bg-pan-delibrot.jpg);
		background-size: cover;
		background-position: 0 -60px; 
		background-repeat: no-repeat;
		height: 470px;
		
		.ds-right {
			
			background-image: url(../images/delibrot/el-globo-contenedor-bg-pan-delibrot.png);
			background-repeat: repeat;
		}
		
		.ds-right-bottom{
			background-image: url(../images/delibrot/el-globo-mini-contenedor-bg-pan-delibrot.png);
			background-repeat: repeat;
		}  

	}
	
}

}