.node-gelatina {
	
	&.view-mode-full {
		
		color: $producto-texto;
		background-color: $pastel-bg; 
		background-image: url(../images/gelatinas/el-globo-slider-bg-gelatinas.jpg);
		background-size: cover;
		height: 470px;
		
		.ds-right {
			
			background-image: url(../images/gelatinas/el-globo-contenedor-bg-gelatinas.png);
			background-repeat: repeat;
		}
		
		.ds-right-bottom{
			background-image: url(../images/gelatinas/el-globo-mini-contenedor-bg-gelatinas.png);
			background-repeat: repeat;
		}  

	}
	
}