.node-pan-dulce {
	
	&.view-mode-full {
		
		color: $producto-texto;
		background-color: $pastel-bg; 
		background-image: url(../images/pan-de-dulce/el-globo-slider-bg-pan-de-dulce.jpg);
		background-size: cover;
		height: 470px;
		
		.ds-right {
			
			background-image: url(../images/pan-de-dulce/el-globo-contenedor-bg-pan-de-dulce.png);
			background-repeat: repeat;
			
		}
		
		.ds-right-bottom{
			background-image: url(../images/pan-de-dulce/el-globo-mini-contenedor-bg-pan-de-dulce.png);
			background-repeat: repeat;
		}  

	}
	
}