.node-pastel, .node-pastel-pedido {
	
	&.view-mode-full {
		
		color: $producto-texto;
		background-color: $pastel-bg; 
		background-image: url(../images/pasteles/el-globo-slider-bg-pasteles.jpg);
		background-size: cover;
		background-position: 0 -60px; 
		background-repeat: no-repeat;
		height: 470px;
		
		.ds-right {
			
			background-image: url(../images/pasteles/el-globo-contenedor-bg-pasteles.png);
			background-repeat: repeat;
		}
		
		.ds-right-bottom{
			background-image: url(../images/pasteles/el-globo-mini-contenedor-bg-pasteles.png);
			background-repeat: repeat;
		}  

	}
	
}