.producto-full {
	
	padding: 10px;
	margin-top: 110px;
	text-align: left;
	.ds-right {
		margin-top: 40px;
		padding: 20px 20px;
		
		
		.container-1 {
			
			padding-bottom: 20px;
		}
		
		.field-name-title {
			
			h2 {
				color: $producto-titulo-interior;
				margin-top: 0;
			}
			
			
			@media(max-width:767px){
			
			background-size: auto;
			background-position: 0 -150x;
	
			}
			
			@media only screen and (min-width : 768px){
				background-size: cover;
				background-position: center center;
			}
		}
		
		.field-name-body {
			color: $producto-body-interior;	
		}
		
		.field-name-field-producto-titulo-extra {
			color: $producto-titulo-interior-extra;
			font-size: 25px;
			margin-bottom: 20px;
		}
		
		.field-name-field-producto-body-extra {
			
			color: $producto-body-interior-extra;
			font-size: 16px;
		}
	
	}
	
	.ds-right-bottom {
		padding: 10px 10px;
	}
	
	img {
		height: auto;
		width: 100%;
	}
}