.catalogo {
	padding: 35px 0;
	
	ul li {
		
		
		h3 {
			
			background-color: $topbar-dropdown-bg;
			color: #fff;
			font-size: 18px;
			padding: 13px 5px;
			
			a {
				color: #fff;
			}
		}
		
		.taxonomy-term {
			border: 1px solid #eee;
			border-radius: 5px;
		}
		
		.taxonomy-term-description {
			
			color: #aaa;
			font-size: 10px;
			padding: 0;
			
			p {
				font-size: 11px;
			}
		}
	}
}

.magnify {
    $dimension: 500px;
  
    width: 100%;
    position: relative;
    cursor: none;
    //margin: $dimension/8;
    display:inline-block;
  
  /* magnifying glass overlay */
  .glass {
    z-index:9000; /* always on top? */
    width: $dimension*3/8; height: $dimension*3/8;
    position: absolute;
    border-radius: 100%;
    background-repeat:no-repeat;
    background-color:white;
    
    /* Multiple box shadows to achieve the glass effect*/
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    
    /*hide the glass by default*/
    display: none;
  }
  
  /*To solve overlap bug at the edges during magnification*/
  .thumb {
      display: block; width:100%;
    }
}